<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fuel_indeed</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.himani.service.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStation_register</display-name>
    <servlet-name>FuelStation_register</servlet-name>
    <servlet-class>com.himani.service.FuelStation_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStation_register</servlet-name>
    <url-pattern>/FuelStation_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuelStation_login</display-name>
    <servlet-name>FuelStation_login</servlet-name>
    <servlet-class>com.himani.service.FuelStation_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuelStation_login</servlet-name>
    <url-pattern>/FuelStation_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_register</display-name>
    <servlet-name>User_register</servlet-name>
    <servlet-class>com.himani.service.User_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_register</servlet-name>
    <url-pattern>/User_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_login</display-name>
    <servlet-name>User_login</servlet-name>
    <servlet-class>com.himani.service.User_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_login</servlet-name>
    <url-pattern>/User_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryPerson_login</display-name>
    <servlet-name>DeliveryPerson_login</servlet-name>
    <servlet-class>com.himani.service.DeliveryPerson_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryPerson_login</servlet-name>
    <url-pattern>/DeliveryPerson_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeliveryPerson_register</display-name>
    <servlet-name>DeliveryPerson_register</servlet-name>
    <servlet-class>com.himani.service.DeliveryPerson_register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeliveryPerson_register</servlet-name>
    <url-pattern>/DeliveryPerson_register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Approved</display-name>
    <servlet-name>Approved</servlet-name>
    <servlet-class>com.himani.service.Approved</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Approved</servlet-name>
    <url-pattern>/Approved</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_fuel_Avail</display-name>
    <servlet-name>Update_fuel_Avail</servlet-name>
    <servlet-class>com.himani.service.Update_fuel_Avail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_fuel_Avail</servlet-name>
    <url-pattern>/Update_fuel_Avail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_fuel_rate</display-name>
    <servlet-name>Update_fuel_rate</servlet-name>
    <servlet-class>com.himani.service.Update_fuel_rate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_fuel_rate</servlet-name>
    <url-pattern>/Update_fuel_rate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_delivery_person</display-name>
    <servlet-name>Add_delivery_person</servlet-name>
    <servlet-class>com.himani.service.Add_delivery_person</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_delivery_person</servlet-name>
    <url-pattern>/Add_delivery_person</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_deliveryperson</display-name>
    <servlet-name>View_deliveryperson</servlet-name>
    <servlet-class>com.himani.service.View_deliveryperson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_deliveryperson</servlet-name>
    <url-pattern>/View_deliveryperson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword_user</display-name>
    <servlet-name>ChangePassword_user</servlet-name>
    <servlet-class>com.himani.service.ChangePassword_user</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword_user</servlet-name>
    <url-pattern>/ChangePassword_user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword_fuelStation</display-name>
    <servlet-name>ChangePassword_fuelStation</servlet-name>
    <servlet-class>com.himani.service.ChangePassword_fuelStation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword_fuelStation</servlet-name>
    <url-pattern>/ChangePassword_fuelStation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword_deliveryPerson</display-name>
    <servlet-name>ChangePassword_deliveryPerson</servlet-name>
    <servlet-class>com.himani.service.ChangePassword_deliveryPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword_deliveryPerson</servlet-name>
    <url-pattern>/ChangePassword_deliveryPerson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassword_deliveryPerson1</display-name>
    <servlet-name>ChangePassword_deliveryPerson1</servlet-name>
    <servlet-class>com.himani.service.ChangePassword_deliveryPerson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword_deliveryPerson1</servlet-name>
    <url-pattern>/ChangePassword_deliveryPerson1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Book_fuel</display-name>
    <servlet-name>Book_fuel</servlet-name>
    <servlet-class>com.himani.service.Book_fuel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Book_fuel</servlet-name>
    <url-pattern>/Book_fuel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageBooking</display-name>
    <servlet-name>ManageBooking</servlet-name>
    <servlet-class>com.himani.service.ManageBooking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBooking</servlet-name>
    <url-pattern>/ManageBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatus</display-name>
    <servlet-name>ChangeStatus</servlet-name>
    <servlet-class>com.himani.service.ChangeStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatus</servlet-name>
    <url-pattern>/ChangeStatus</url-pattern>
  </servlet-mapping>
</web-app>
